NODE_ENV=development
PORT=3006

# Mongo
DB_CONNECTION_STRING=mongodb://localhost:27017/njord
DB_TEST_CONNECTION_STRING=mongodb://localhost:27017/njord-test

# Njord token
NJORD_API_TOKEN=fake

# Client Token
NJORD_URL=http://localhost:3006
